@font-face {
  font-family: "36daysoftype";
  src: local("36daysoftype"),
    url("./fonts/Dirtyline-36daysoftype-2022.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "manaspc";
  src: local("manaspc"),
    url("./fonts/manaspc.ttf") format("truetype");
  font-weight: normal;
}

:root {
  --main-bg-color: #0D0E0D;
  --primary-color: #EEEEEE;
  font-family: '36daysoftype', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--primary-color);
  background-color: var(--main-bg-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

